@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root,
html[data-theme='light'] {
	color-scheme: light;

	--app-outer-bg: var(--color-white);
	--app-bg: var(--color-gray-50);
	--app-sub-bg: var(--color-gray-200);
	--app-border: var(--color-gray-400);
	--app-text: var(--color-gray-600);
	--app-sub-text: var(--color-gray-700);
	--app-strong-text: var(--color-gray-900);
}

:root,
html[data-theme='dark'] {
	color-scheme: dark;

	--app-outer-bg: var(--color-gray-950);
	--app-bg: var(--color-gray-900);
	--app-sub-bg: var(--color-gray-800);
	--app-border: var(--color-gray-600);
	--app-text: var(--color-gray-400);
	--app-sub-text: var(--color-gray-300);
	--app-strong-text: var(--color-gray-500);
}

@theme inline {
	--color-outer-bg: var(--app-outer-bg);
	--color-bg: var(--app-bg);
	--color-sub-bg: var(--app-sub-bg);
	--color-border: var(--app-border);
	--color-text: var(--app-text);
	--color-sub-text: var(--app-sub-text);
	--color-strong-text: var(--app-strong-text);
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;

	background-color: var(--color-outer-bg);
	color: var(--color-text);
	border-color: var(--color-border);
}
